<h2>Products</h2>

<div *ngFor="let product of products">

    <h3>
        <a 
            [title]="product.name + 'details'"
            [routerLink]="['/products', product.id]">
            {{ product.name }}
        </a>
    </h3>

    <p *ngIf="product.description">
        Description: {{ product.description }}
    </p>

    <button type="button" (click)="share()">
        Share
    </button>

    <app-product-alerts
        [product]="product"
        (notify)="onNotify()">
    </app-product-alerts>

</div>

<!-- 
Структурные директивы определяют или меняют структуру DOM за счет добавления, удаления или изменения элементов, к которым они прикрепляются. 
Любая директива с * - структурная директива.

*ngFor - Товары в списке должны отображаться одинаково, друг за другом на странице.

*ngIf - Элемент параграфа создается только при наличии описания у текущего товара.

{{ }} - Интерполяция определяет значение свойства как текст.

[] - Cинтаксис привязки свойства.

() - Привязка события.


-->